<!--The content below is only a placeholder and can be replaced.-->
<ngx-loading [show]="loading"></ngx-loading>
<div class="main-container">

	<div class="header-title">
		<img src="https://i.imgur.com/lJT9vOI.png" alt="">
	</div>
	<div class="row emoji-container">
		<div class="webcam col-md-6">
			<webcam class="image-container" [trigger]="trigger$" (imageCapture)="handleImage($event)"></webcam>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="emo col-md-4">
					<span *ngIf="showEmoji.joyLikelihood">😀</span>
					<span *ngIf="showEmoji.angerLikelihood">😠</span>
					<span *ngIf="showEmoji.surpriseLikelihood">😮</span>
					<span *ngIf="showEmoji.sorrowLikelihood">🙁</span>
					<span *ngIf="showEmoji.meee">😑</span>
				</div>
			</div>
			<div class="row">
				<div class="capture-button">
					<button (click)="capturePhoto()" type="button" class="btn btn-w-m btn-success">Capture</button>
				</div>
			</div>
		</div>
	</div>
</div>