.main-container {
    text-align: center;
    background-color: antiquewhite;
}
.header-title {
    background-color: gray;
    margin: 0 0 0 32.5%;
    width: 35%;
    -webkit-animation: animatelogo 2s infinite; /* Safari 4+ */
      -moz-animation:    animatelogo 2s infinite; /* Fx 5+ */
      -o-animation:      animatelogo 2s infinite; /* Opera 12+ */
      animation:         animatelogo 2s infinite; /* IE 10+ */
}
.webcam-container img {
    width: 35%;

    height: 35%;
    margin: 2% 0 2% 0;
    
    /* background-color: gainsboro; */
}

@-webkit-keyframes animatelogo {
    0%,100% {
          transform: translateY(0px);
          -webkit-transform: translateY(0px); 
      }
    50% {
          transform: translateY(20px);
          -webkit-transform: translateY(20px); 
      }
  }
  @-moz-keyframes animatelogo {
    0%,100% {
          transform: translateY(0px);
          -webkit-transform: translateY(0px); 
      }
    50% {
          transform: translateY(20px);
          -webkit-transform: translateY(20px); 
      }
  }
  @-o-keyframes animatelogo {
    0%,100% {
          transform: translateY(0px);
          -webkit-transform: translateY(0px); 
      }
    50% {
          transform: translateY(20px);
          -webkit-transform: translateY(20px); 
      }
  }
  @keyframes animatelogo {
    0%,100% {
          transform: translateY(0px);
          -webkit-transform: translateY(0px); 
      }
    50% {
          transform: translateY(20px);
          -webkit-transform: translateY(20px); 
      }
    }
.input-result-container {
    height: 50px;
    width: 500px;
    text-align: center;
    margin: 4% 0 5% 32.5%;
}
.emo {
    font-size: 40px;
}
