<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">

  <div class="header-title">
    <h1>
      EMOTION TO EMOJI
    </h1>
  </div>
  <div class="webcam-container">
    <img src="~/../../assets/emoticon.jpg">
  </div>

  <div class="capture-button">
    <button type="button" class="btn btn-w-m btn-success">Capture</button>
  </div>
  <div class="input-result-container">
    <!-- <input type="text" placeholder="Result" class="form-control input-lg"> -->
    <!-- <input type="text" class="form-control input-lg"> -->
    <!-- <i class="em em-some-emoji"></i> -->
    <span class="emo">😀</span>
  </div>

</div>